#added test

#demos
Rechnungstool/demos/*

#application.log
rechnungstool/protected/runtime/*

#database.php
Rechnungstool/protected/config/database.php

#yii gitignore template
Rechnungstool/assets/*
!Rechnungstool/assets/.gitignore
Rechnungstool/protected/runtime/*
!Rechnungstool/protected/runtime/.gitignore
Rechnungstool/protected/data/*.db
Rechnungstool/themes/classic/views/
Rechnungstool/protected/runtime/application.log
s1mty3nt.ks3.txt
